{% extends "base.html" %}
{% block content %}
<h1 style="text-align:center;">What is this?</h1>
<h3 style="text-align:center;"><a href="/home/">Input a database</a></h3>
<h3 style="text-align:center;"><a href="/allbase/">View all the current databases</a></h3>
<div>
  <p>This is a collection of databases meant to elevate the voices of minorities in STEM. I hope to bring awareness to the lack of diversity at high levels of STEM fields and raise the voice of those who have created these amazing databases.</p>
</div>
{% endblock %}
